/* CSS LOGIN */
.margintop{
    margin-top: 12%;
}

.body-login{
    background-color: #97c9be;
}

.btn-login{
    background-color: #5FBAA7;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 100%;
}

input[type=text]{
    border-radius: 10px;
}

.jumbotron{
    background-color: #eaeaea;
    
}

.btn:hover{
    background-color: #54a392;
    color: white;
    font-weight: bold;
}

.logo{
    max-height: 100px;
    min-height: 50px;
    max-width: 100px;
    min-width: 50px;
    margin-bottom: 40px;
}

.datosIncorrectos {
    margin-top: 15px;
    font-size: 14px !important;
    color: red;
    width: 100%;
    text-align: center;
}