:root{
    --principalColor: #97c9be;
    --lightPrincipalColor: #b6d8d2;
    --DarkColor: #5FBAA7;
    --VeryDarkColor: #54a392;
    --nonWhite: #f7f7f7;
    --GrayColor: #404443;
    --LightGrayColor: #848080;
}

/* CSS GENERAL */

body {
    padding: 70px !important;
}

/* END GENERAL */

/* CSS LOGIN */
.margintop{
    margin-top: 8%;
}

.body-login{
    background-color: #97c9be;
}

.btn-login{
    background-color: #5FBAA7;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 100%;
}

input[type=text]{
    border-radius: 10px;
}

.jumbotron{
    background-color: #eaeaea;
    
}

.btn:hover{
    background-color: #54a392;
    color: white;
    font-weight: bold;
}

.logo{
    max-height: 100px;
    min-height: 50px;
    max-width: 100px;
    min-width: 50px;
    margin-bottom: 40px;
}

.datosIncorrectos {
    margin-top: 15px;
    font-size: 14px !important;
    color: red;
    width: 100%;
    text-align: center;
}

/* END LOGIN */

/* CSS NAVBAR */

.navbar {
    background-color: #97c9be !important;
}

.navbar-brand img{
    margin-right: 5px;
}

.logoPoint {
    color: var(--GrayColor);
    font-weight: bold;
}

input, select{
    border-radius: 10px !important;
    background-color: var(--nonWhite);
    box-shadow: var(--VeryDarkColor) !important;
}

nav input[type=text]:focus-visible{
    background-color: var(--nonWhite);
    box-shadow: var(--VeryDarkColor) !important;
}

nav .btn {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link {
    color: var(--nonWhite) !important;
}

.active > a {
    color: white !important;
}

/* END NAVBAR */ 

/* CSS PRODUCTS */

.card-product {
    /*margin-left: 10px !important;*/
    /*margin-right: 10px !important;*/
    margin-bottom: 15px !important;
    margin-top: 15px !important;
    border: 0px solid transparent;
}

.card-product:hover {
    border: 0.5px solid var(--LightGrayColor);
}

.card-title {
    font-size: 18px;
}

.btn-product{
    background-color: #5FBAA7;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 0px solid transparent !important;
}

.price h5{
    color: var(--VeryDarkColor);
}

/* END PRODUCTS */

/* CSS DETALLE PRODUCTO */

.breadcrumb {
    background-color: var(--nonWhite);
    border-radius: 10px !important;
}

.breadcrumb-item a {
    color: var(--GrayColor) !important;
}

.details.price h5 {
    font-size: 25px !important;
}

.stock {
    color: rgb(255, 52, 52);
}

.text-danger {
    color: rgb(255, 52, 52) !important;
}

.text-success {
    color: var(--VeryDarkColor) !important;
}

.priceNoDiscount {
    text-decoration: line-through;
}

#descripcionProducto {
    height: 200px !important;
}

.btn-reset{
    background-color: var(--LightGrayColor);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 0px solid transparent !important;
}

.btn-reset:hover {
    background-color: var(--GrayColor);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 0px solid transparent !important;
}

.input-group-prepend > span {
    text-align: center !important;
}

textarea {
    border-radius: 10px !important;
}
/* END DETALLE PRODUCTO */